<h1 class="mt-4">{{ article.title }}</h1>

<p class="lead">
    od <a href="#">{{ article.name }} {{ article.surname }} ({{ article.username }})</a>
</p>

<hr>

<p>Zvěřejněno {{ article.created_at|date('d.m.Y H:i') }}{% if article.created_at != article.updated_at %}, Naposledy aktualizováno: {{ article.updated_at|date('d.m.Y H:i') }}{% endif %}</p>

<hr>

<img class="img-fluid rounded" src="{{ baseUrl ~ '/storage/article_images/' ~ article.id ~ '/' ~ article.image }}">

<hr>

{{ article.perex }}

<hr>

{{ article.content | raw }}

{% if article.documents is not empty %}
    <hr>

    <label for="documents">Dokumenty</label>
    <div id="documents">
        {% for document in article.documents %}
            <a href="{{ baseUrl ~ '/storage/documents/' ~ article.id ~ '/' ~ document.path }}" target="_blank" style="padding: 5px;"><div><i class="fa fa-file"></i> &nbsp;{{ document.path }}</div></a>
        {% endfor %}
    </div>
{% endif %}

<script>
    const articleId = '{{ article.id }}'
</script>
